fastapi==0.104.0 ; python_full_version == "3.8.10"
pendulum==2.1.2 ; python_full_version == "3.8.10"
pydantic==2.4.2 ; python_full_version == "3.8.10"
pytzdata==2020.1 ; python_full_version == "3.8.10"
uvicorn==0.23.2 ; python_full_version == "3.8.10"
